*.pyc
*~

.ipynb_checkpoints

parse_*.pdf
parse_*.png

ops*.csv
trans*.csv

ops.pdf
ops.png
ops.ps
bi_ops.pdf
bi_ops.png
bi_ops.ps

.tmp.dot

readme.html

.DS_Store

#~

conceptual_smart_stuff.aux
conceptual_smart_stuff.log
conceptual_smart_stuff.pdf
conceptual_smart_stuff.synctex.gz
auto


